body {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  /* The container determains the size. */
  width: 800px;
  height: 600px;
}

.container > .loading-overlay {
  /* We'll render the overlay on top of the Unity Application. */
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw);
  height: calc(100vh - 0.37vh);
  background: grey;
  /* We'll set the following Flex properties in order to center the text. */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > .unity {
  /* The Unity Application matches it size to the container. */
  width: calc(100vw);
  height: calc(100vh - 0.37vh);
}
